<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/fileUpload.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style type="text/css">
        #maincontent {
            margin-top: 7em;
            margin-bottom: -7em;
        }
    </style>
</head>

<body>
<div class="ui large top fixed menu visible" style="display: flex !important; margin-bottom: 7em;">
    <div class="ui container">

        <a th:href="@{/studentAttendance}" sec:authorize="hasAuthority('STUDENT')" class="item">TM Attendance</a>
        <a sec:authorize="hasAuthority('STUDENT')" th:href="@{/checkingPage}" class="item">TM Checking</a>
        <a sec:authorize="hasAnyAuthority('ADMIN', 'FACULTY')" th:href="@{/TM-attendance}"  class="active item">Block Report</a>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/uploadAttendance}" class="item">Upload Attendance</a>
        <a sec:authorize="hasAnyAuthority('ADMIN', 'FACULTY')" th:href="@{/tm/report}" class="item">View Entry Report</a>


        <div class="right menu">
            <form th:action="@{/logout}" method="post">
                <input class="ui button" type="submit" value="Logout" />
            </form>
        </div>

    </div>
</div>

<div class="container">

<!--    <form th:action="@{/logout}" method="get">-->
<!--        <button class="btn btn-md btn-danger btn-block" name="registration"-->
<!--                type="Submit">Logout-->
<!--        </button>-->
<!--    </form>-->

    <div class="ui message" style="margin-top:40px; width:80%">
        <div class="panel-heading">
            <h2> Exra-Credit List </h2>
            <p> Course Id: <span th:utext="${courseId}"></span>  </p>

        </div>
    </div>
</div>
<div id="maincontent" class="ui main container">

    <table id="exportTable" class= "ui celled striped table" style="width:80%">
        <thead>
        <tr>
            <th>Student Id</th>
            <th>Extra-Credit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${report}">
            <td> <span th:text = "${entry.key}"></span></td>
            <td> <span th:text = "${entry.value}"></span></td>
        </tr>
        </tbody>
    </table>

    <a id="downloadTable" href="#" class="ui primary button">Download as CSV</a><br/>
</div>
</div>

<script type="text/javascript">

    $( document ).ready(function() {

        function exportTableToCSV($table, filename) {

            var $rows = $table.find('tr:has(td)'),

                // Temporary delimiter characters unlikely to be typed by keyboard
                // This is to avoid accidentally splitting the actual contents
                tmpColDelim = String.fromCharCode(11), // vertical tab character
                tmpRowDelim = String.fromCharCode(0), // null character

                // actual delimiter characters for CSV format
                colDelim = '","',
                rowDelim = '"\r\n"',

                // Grab text from table into CSV formatted string
                csv = '"' + $rows.map(function(i, row) {
                    var $row = $(row),
                        $cols = $row.find('td');

                    return $cols.map(function(j, col) {
                        var $col = $(col),
                            text = $col.text();

                        return text.replace(/"/g, '""'); // escape double quotes

                    }).get().join(tmpColDelim);

                }).get().join(tmpRowDelim)
                    .split(tmpRowDelim).join(rowDelim)
                    .split(tmpColDelim).join(colDelim) + '"';

            // Deliberate 'false', see comment below
            if (false && window.navigator.msSaveBlob) {

                var blob = new Blob([decodeURIComponent(csv)], {
                    type: 'text/csv;charset=utf8'
                });

                // Crashes in IE 10, IE 11 and Microsoft Edge
                // See MS Edge Issue #10396033
                // Hence, the deliberate 'false'
                // This is here just for completeness
                // Remove the 'false' at your own risk
                window.navigator.msSaveBlob(blob, filename);

            } else if (window.Blob && window.URL) {
                // HTML5 Blob
                var blob = new Blob([csv], {
                    type: 'text/csv;charset=utf-8'
                });
                var csvUrl = URL.createObjectURL(blob);

                $(this)
                    .attr({
                        'download': filename,
                        'href': csvUrl
                    });
            } else {
                // Data URI
                var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                $(this)
                    .attr({
                        'download': filename,
                        'href': csvData,
                        'target': '_blank'
                    });
            }
        }


        // This must be a hyperlink
        $("#downloadTable").on('click', function(event) {
            // CSV
            var args = [$('#exportTable'), 'export.csv'];

            exportTableToCSV.apply(this, args);

            // If CSV, don't do event.preventDefault() or return false
            // We actually need this to be a typical hyperlink
        });
    });

</script>
</body>
</html>