<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>TM Checking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style type="text/css">
        #maincontent {
            margin-top: 7em;
            margin-bottom: -7em;
        }
    </style>
</head>
<body>

<div class="ui large top fixed menu visible" style="display: flex !important; margin-bottom: 7em;">
    <div class="ui container">
        <a th:href="@{/studentAttendance}" class="item">TM Attendance</a>
        <a th:href="@{/checkingPage.html}" class="active item">TM Checking</a>
<!--        <a th:href="blockReport.html" class="item">Block Report</a>-->
<!--        <a th:href="@{/uploadAttendance}" class="item">Upload Attendance</a>-->
<!--        <a th:href="entryReport.html" class="item">Entry Report</a>-->

        <div class="right menu">
            <div class="item">
                <a class="ui button">Logout</a>
            </div>
        </div>
    </div>
</div>
<div id="maincontent" class="ui main container">

    <div class="ui grid">
        <div class="four wide column">
            <label>TM Checking</label>
            <table class="ui small very compact celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

</body>
</html>