<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>TM Checking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style type="text/css">
        #maincontent {
            margin-top: 7em;
            margin-bottom: -7em;
        }

        .resultItem{
            position: absolute;
            margin-left: 68%;
            width: 200px;
            background-color: lightgray;
            border-radius: 2px;
            padding: 5px;
        }
    </style>
</head>
<body>

<div class="ui large top fixed menu visible" style="display: flex !important; margin-bottom: 7em;">
    <div class="ui container">
        <a th:href="@{/studentAttendance}" sec:authorize="hasAuthority('STUDENT')" class="item">TM Attendance</a>
        <a sec:authorize="hasAuthority('STUDENT')" th:href="@{/checkingPage}" class="active item">TM Checking</a>
        <a sec:authorize="hasAnyAuthority('ADMIN', 'FACULTY')" th:href="@{/TM-attendance}" class="item">Block Report</a>
        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/uploadAttendance}" class="item">Upload Attendance</a>
        <a sec:authorize="hasAnyAuthority('ADMIN', 'FACULTY')" th:href="entryReport.html" class="item">Entry Report</a>

        <div class="right menu">
            <div class="item">
                <span id="userName" th:text="${student.name}"></span>
            </div>
            <div class="item">
                <form th:action="@{/logout}" method="post">
                    <input class="ui button" type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="maincontent" class="ui main container">

    <div class="ui grid">
        <div class="resultItem">
            <p class="item"><Strong>Student Id:</Strong> <span id="studentIdSpan" th:text="${student.id}"></span></p>
            <p class="item"><strong>Name:</strong> <span th:text="${student.name}"></span></p>
            <p class="item"><strong>Entry:</strong> <span th:text="${student.entry}"></span></p>
        </div>
        <div class="four wide column">

            <label><h3>TM Checking</h3></label>
            <table class="ui small very compact celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                </tr>
                <tr th:each="checking : ${studentTmCheckings}">
                    <td th:text="${checking.date}"></td>
                    <td th:text="${checking.checkingType}"></td>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="ui grid">
        <div class="four wide column">
            <label><h3>TM Retreat</h3></label>
            <table class="ui small very compact celled table">
                <thead>
                <tr>
                    <th>Date</th>
                </tr>
                <tr th:each="retreat : ${studentRetreats}">
                    <td th:text="${retreat.date}"></td>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

</body>
</html>