<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>TM Attendance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style type="text/css">
        #maincontent {
            margin-top: 7em;
            margin-bottom: -7em;
        }

        .resultItem{
            position: absolute;
            margin-left: 80%;
            width: 200px;
            background-color: lightgray;
            border-radius: 2px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="ui large top fixed menu visible" style="display: flex !important; margin-bottom: 7em;">
    <div class="ui container">
        <a th:href="@{/studentAttendance}" class="active item">TM Attendance</a>
        <a th:href="@{/checkingPage}" class="item">TM Checking</a>
<!--        <a th:href="blockReport.html" class="item">Block Report</a>-->
<!--        <a th:href="@{/uploadAttendance}" class="item">Upload Attendance</a>-->
<!--        <a th:href="entryReport.html" class="item">Entry Report</a>-->

        <div class="right menu">
            <div class="item">
                <span id="userName" th:text="${student.name}"></span>
            </div>
            <div class="item">
                <a class="ui button">Logout</a>
            </div>
        </div>
    </div>
</div>
<div id="maincontent" class="ui main container">
    <div class="ui form">
        <div class="field">
            <div class="resultItem">
                <p class="item"><Strong>Student Id:</Strong> <span id="studentIdSpan" th:text="${student.id}"></span></p>
                <p class="item"><strong>Name:</strong> <span th:text="${student.name}"></span></p>
                <p class="item"><strong>Entry:</strong> <span th:text="${student.entry}"></span></p>
            </div>
            <div class="three wide field">
                <div id="cumulativeData">
                    <fieldset>
                        <legend>Cumulative TM Attendance</legend>
                        <p class="tmAttendance_data total_tm_attendance">
                            Total Sessions Possible: <span>135</span>
                        </p>
                        <p class="tmAttendance_data total_tm_attendance">
                            Total Sessions Attended: <span></span>
                        </p>
                        <p class="tmAttendance_data total_tm_attendance">
                            Percent Attendance: <span></span>
                        </p>
                    </fieldset>
                <br/><br/>
                </div>
<!--                Block: <select class="ui fluid dropdown" >-->
<!--                <option value="">block</option>-->
<!--            </select>-->
                Block: <select id="meditationBlock" class="ui fluid dropdown" >
                            <option value="">-- Select Block --</option>
                            <option th:each="block,i : ${blocks}" th:value="${block.name}" th:text="${block.name}">block</option>
                        </select>
            </div>
        </div>
    </div>
    <br/>
    <p>
        Session in block: <span id="sessionInBlock">0</span>
    </p>
    <p>
        Days present: <span id="daysPresent">0</span>
    </p>
    <p>
        Percentage attended: <span id="percentageAttended">0</span>
    </p>
    <p>
        Extra credit points: <span id="creditPoints">0</span>
    </p>
    <div class="ui grid">
        <div class="four wide column">
            <table id="attendanceTable" class="ui small very compact celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Present</th>
                </tr>
                <tr>
                    <td>yyyy-mm-dd</td>
                    <td>true</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript" th:src="@{/js/student.js}"></script>
</body>
</html>